.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border : 2px solid rgb(206, 64, 64);
    border-radius: 10px;
    width: 300px;
    padding: 10px;
}

.container p {
    padding: 5px 30px;
    color: rgb(121, 32, 32);
    background-color: white;
}

.btn {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
}

.btn div {
    padding: 5px 20px;
    padding-top: 10px;
    color: white;
    background-color: rgb(206, 64, 64);
    border-radius: 10px;
    width: fit-content;
    cursor: pointer;
    margin: 2px 10px;
}
.btn div:hover {
    color: rgb(206, 64, 64) ;
    background-color: white;
    border: 1px dashed rgb(206, 64, 64);
    border-radius: 10px;
    transition: all ease 0.3s;
}

.details {
    position: absolute;
    bottom: 25px;
    border-radius: 7px;
    left: 10px;
    padding: 5px;
    background-color: rgb(206, 64, 64);
    color: white;
    cursor: pointer;
}

.admin {
    margin-top: 30px;
}

.admin div {
    background-color: rgb(206, 64, 64);
    padding: 5px;
    color: white;
    margin: 20px 0px;
    border-radius: 7px;
    cursor: pointer;
}